@use './color' as vars;

%btnHeader {
    border: 2px solid vars.$colorRed-pink;
    border-radius: 40px;
    padding: 13px 56px;
    background-color: vars.$colorWhite;
    color: vars.$colorBlack;
    line-height: 15px;
    cursor: pointer;
}

%btnHero  {
    border: 2px solid vars.$colorWhite;
    border-radius: 40px;
    padding: 13px 56px;
    background-color: vars.$colorRed-pink;
    color: vars.$colorWhite;
    line-height: 15px;
    letter-spacing: 0.7px;
    cursor: pointer;
}

%btnCard {
    background-color: vars.$colorRed-pink;
    color: vars.$colorWhite;
    line-height: 17px;
    letter-spacing: 0.7px;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 30px;
    margin-bottom: 25px;
}