$colorDark: #333333;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorPink: #F57699;
$colorPink-white: #F9ADC2;
$colorRed-pink: #F13C6E;
$colorGrey: #EFEFEF;
$colorGrey-white: #c4c4c4;
$colorGray-dark: #828282;